%ul.tour
  %li
    %span.number 1
    .tour-content
      %h2 Many uses and even more benefits
      %p
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
        %br
        %br
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
      = image_tag('100x100.gif', :width=>"400px", :height=>"200px")

  %li
    %span.number 2
    .tour-content
      %h2 Many uses and even more benefits
      %p
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
        %br
        %br
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
      = image_tag('100x100.gif', :width=>"400px", :height=>"200px")

  %li
    %span.number 3
    .tour-content
      %h2 Many uses and even more benefits
      %p
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
        %br
        %br
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
      = image_tag('100x100.gif', :width=>"400px", :height=>"200px")

  %li
    %span.number 4
    .tour-content
      %h2 Many uses and even more benefits
      %p
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
        %br
        %br
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
      = image_tag('100x100.gif', :width=>"400px", :height=>"200px")

  %li
    %span.number 5
    .tour-content
      %h2 Many uses and even more benefits
      %p
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
        %br
        %br
        The team can focus on their current tasks without having to worry about the client deliverable just yet. They will be reminded about it in due course and will have enough time to get it delivered.
      = image_tag('100x100.gif', :width=>"400px", :height=>"200px")
