- content_for :head do
  = javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack.js'

%section#featured
  .wrapper
    %h2
      Turn your emails into reminders, quickly!
    %h3
      Hound is an email-based productivity and scheduling tool.
      It helps you clear out your inbox and to focus on what’s important right now.
    %p.signup-wrap
      = mail_to '2minutes@hound.cc', "Try it now !", :subject => 'Send me a reminder in 2 minutes!', body: 'Hound will automatically remind you about this email in 2 minutes!', :class=>"signup button"
      %span
        Get started within seconds.
        %br
        It's as easy as sending an email!
    = image_tag('hound.png', :class => "hound", :width => "320")

%section#guide
  .wrapper
    %ul.short-guide
      %li
        = image_tag('icon1.png')
        %h4 Create email reminders, fast
      %li
        = image_tag('icon2.png')
        %h4 Get reminded, on-time
      %li
        = image_tag('icon3.png')
        %h4 Snooze it (or do it)
      %li
        = image_tag('icon4.png')
        %h4 Stay on top of your todo list

%section#content
  %ul.tour
  
    %li
      .wrapper
        %span.number 1
        .tour-content
          %h2 Create email reminders (and help clear out your inbox)
          = link_to image_tag('screen_1day_sml.jpg', :width=>"100%"), 'assets/screen_1day_lrg.jpg', class: 'fbox left'
          %p.tour-text Schedule reminders using your favorite email application. Get control of your inbox by forwarding emails to Hound.
          %ul.tour-text
            %li
              %h3= mail_to '2minutes@hound.cc', 'To: 2minutes@hound.cc'
              %span › Sends you a reminder in 2 minutes.
            %li
              %h3= mail_to '', 'Cc: tomorrow@hound.cc', cc: 'tomorrow@hound.cc'
              %span › Sends both you and your recipient a reminder tomorrow.
            %li
              %h3= mail_to '', 'Bcc: nextfriday@hound.cc', bcc: 'nextfriday@hound.cc'
              %span › Sends only you a reminder next Friday.
        = image_tag("right-arrow.png", :width =>"50px", :class => "right-arrow")
          
    %li.odd
      .wrapper
        %span.number 2
        .tour-content
          %h2 Get reminded (and never miss an opportunity to follow up)
          = link_to image_tag('screen_web_ui_sml.jpg', :width=>"100%"), 'assets/screen_web_ui_lrg.jpg', class: 'fbox right'
          
          %ul.tour-text
            %li
              %p Hound sends (great-looking) reminders when they're due. You can have other recipients also receive reminders, helping you get a response to that important email.
            %li
              %p We include the original email content, so all the information you need is right there.
        = image_tag("left-arrow.png", :width =>"50px", :class => "left-arrow")
          
    %li
      .wrapper
        %span.number 3
        .tour-content
          %h2 Snooze it (or do it :-)
          = link_to image_tag('screen_1day_sml.jpg', :width=>"100%"), 'assets/screen_1day_lrg.jpg', class: 'fbox left'
          %ul.tour-text
            %li
              %p Need to put off 'til tomorrow what doesnt need to be done today? Easy. Just snooze your Hound reminders with one click, right there from your inbox!
            %li
              %p (Snooze it, and discard it from your tidy inbox - let Hound worry about it for you!)
        = image_tag("right-arrow.png", :width =>"50px", :class => "right-arrow")
            
    %li.odd
      .wrapper
        %span.number 4
        .tour-content
          %h2 Stay on top of your todo list
          = link_to image_tag('screen_web_ui_sml.jpg', :width=>"100%"), 'assets/screen_web_ui_lrg.jpg', class: 'fbox right'
          %ul.tour-text
            %li
              %p Manage your upcoming reminders via our great web interface.
            %li
              %p Change your notification and timezone preferences. Manage multiple email addresses.
        = image_tag("left-arrow.png", :width =>"50px", :class => "left-arrow")

%section#signup
  .wrapper
    %p.signup-wrap.wide
      = mail_to '2minutes@hound.cc', "Try it now !", :subject => 'Send me a reminder in 2 minutes!', body: 'Hound will automatically remind you about this email in 2 minutes!', :class=>"signup button"

%section#benefits
  .wrapper
    %h2 Benefits You'll Love
    %ul.benefits
      %li.sixth
        %h3 Better Productivity
        %p Manage your todos more effectively.
      %li.sixth
        %h3 Increase Sales
        %p Follow up important leads on time.
      %li.sixth
        %h3 Safe and secure
        %p We don't share your data. We delete old emails.
      %li.sixth
        %h3 Nothing to Install
        %p Works directly from your inbox.
      %li.sixth
        %h3 Get Things Done
        %p Help get your inbox down to zero.
      %li.sixth
        %h3 Get Started Now
        %p
          Simply
          = mail_to '2minutes@hound.cc', 'click here', subject: 'Send me a reminder in 2 minutes!', body: 'Hound will automatically remind you about this email in 2 minutes!'
          to send your first email to Hound

    //%p.signup-wrap.wide
    //  = mail_to '2minutes@hound.cc', "Try it now !", :subject => 'Send me a reminder in 2 minutes!', body: 'Hound will automatically remind you about this email in 2 minutes!', :class=>"signup button"

