%h2 Edit your profile
%h3 Basic Settings
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :autocomplete => :off  }) do |f|
  = devise_error_messages!
  %div
    = f.label :email, 'Primary Email Address'
    %br
    = f.email_field :email
  %div
    = f.label :timezone
    %br
    = f.time_zone_select :timezone
  %div
    = f.check_box :confirmation_email
    = f.label "Receive confirmation emails?"

  = render 'change_password', f: f

  %div= f.submit "Update"

%h3 Your other email addresses
%ul{ id:'email_aliases' }
  - current_user.email_aliases.each do |email_alias|
    = render 'email_aliases/email_alias', email_alias: email_alias

= render 'new_alias'

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back

