%tr
  %td{:style => "width:50%"}
    %h2 Subject:
    %p{:style => "font-size:16px"}#{@reminder.subject}
    %h2 Date Created:
    %p{:style => "font-size:16px"}#{@reminder.created_at.strftime('%d-%b-%Y')}
    %h2 Snooze Count:
    %p{:style => "font-size:16px"}#{@reminder.snooze_count}
  %td{:style => "width:50%"}
    - if @reminder.fetched_mail.from == @recipient
      = render 'snooze_box'
    - else
      = render 'cc_box'
%tr
  %td
    %hr{:style => "background:none;border:none;border-top:2px dotted #ddd;"}
    = @reminder.body.html_safe

