%div{:style => "width:230px;background-color:#ffffcc;border:1px solid #cacaca;padding:5px"}
  %table{:border => "0", :cellpadding => "4", :cellspacing => "0", :width => "230"}
    %tbody
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          %b Snooze for:
      %tr
        %td{:style => "text-align:right;width:5%"} Minutes:
        = render 'snooze_link', :options => ['15','30','45'], :type => 'mi'
      %tr
        %td{:style => "text-align:right"} Hours:
        = render 'snooze_link', :options => ['1','3','6','8','12'], :type => 'h'
      %tr
        %td{:style => "text-align:right"} Days:
        = render 'snooze_link', :options => ['1','2','3','4','5','6'], :type => 'd'
      %tr
        %td{:style => "text-align:right"} Weeks:
        = render 'snooze_link', :options => ['1','2','3'], :type => 'w'
      %tr
        %td{:style => "text-align:right"} Months:
        = render 'snooze_link', :options => ['1','3','6','12'], :type => 'mo'
      %tr
        %td
        %td
          = link_to 'set snooze manually', edit_reminder_url(@reminder)
