%div{:style => "background-color:#fffbef;border: 1px solid #ead5c0;padding:10px 15px;margin-bottom:10px;"}
  %table{:border => "0", :cellpadding => "4", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td{:colspan => "2", :style => "text-align:left"}
          %b Snooze for:
      %tr
        = render 'snooze_link', :options => ['15','30','45'], :type => 'min'
        = render 'snooze_link', :options => ['1','3','6','12'], :type => 'hr'
        = render 'snooze_link', :options => ['1','2','4','7'], :type => 'd'
        = render 'snooze_link', :options => ['1','2','3','4'], :type => 'w'
      %tr
        %td= link_to 'Choose another time', edit_reminder_url(@reminder), :style => "color:#{@link_color}; margin-top:5px;"
