!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "background:url(http://hound.cc/assets/bg.png);font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:20px 0 0;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        = render 'header'
        %tr
          %td
            %h1{:style => "margin:40px 0 0;"} Sorry, we couldn't recognize all of the "...@hound.cc" date formats.
        %tr
          %td
            %p
              We've included a list of the date formats we currently recognize. If
              you have a suggestion for a new format that isn't included, please don't
              hesitate to
              = link_to "contact us", 'https://hound.uservoice.com'
              = "."
        %tr
          %td
            = render "/shared/supported_date_formats"
        %tr
          %td
            %hr{:style => "background:none;border:none;border-top:2px dotted #ddd;"}
        %tr
          %td
            %p
              We hope the above list helps. If you have a question that remains unanswered,
              please
              = link_to "contact us", 'https://hound.uservoice.com', :style => "color: #E88300"

