!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "font-size:12px;font-family:Helvetica,Arial,sans-serif"}
    = render 'header'
    %tr
      %td
        %h1= "Reminder: #{@original_subject}"

    %p== #{@owner} created this reminder for you on #{@created_at}

    = render 'body', body: @body
