- render "variables"

!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "background:url(http://hound.cc/assets/bg.png);font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:20px 0 0;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        = render 'header'
        %tr
          %td{:colspan=>"2"}
            %h1{:style => "margin:40px 0 20px;"}= "Reminder: #{@original_subject}"

        = render 'hr'

        %tr
          %td{:style => "width:50%; vertical-align: top;"}
            %p{:style => "font-size:16px"}
              == You created this reminder on #{@created_at}
              %br
              == It has been snoozed #{@snoozed} times.
            %p More options:
            %ul
              %li= link_to "Upcoming", reminders_url, :style => "color: #{@link_color}"
              %li= link_to "Settings", settings_url, :style => "color: #{@link_color}"

          %td{:style => "width:50%;"}
            = render 'snooze_box'

        = render 'body', body: @body
