!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:20px 0 0;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        = render 'header'
        %tr
          %td
            %h1{:style => "margin:40px 0 20px;"}= "Reminder: #{@original_subject}"

            %hr{:style => "background:none;border:none;border-top:2px dotted #ddd;"}

        = render 'menu'

        %tr
          %td{:style => "width:50%"}
            %p{:style => "font-size:16px"}== You created this reminder on #{@created_at}
            %p{:style => "font-size:16px"}== It has been snoozed #{@snoozed} times.

          %td{:style => "width:50%"}
            = render 'snooze_box'

        = render 'body', body: @body


