- render "variables"

!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "background:url(http://hound.cc/assets/bg.png) #fef4e0;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:20px 0 0;line-height:1.4;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        %tr
          %td{ :width => "70%"}
            %h1{:style => "color:#582a00;margin:40px 0 10px;"}= "#{@original_subject}"
            %p{:style => "font-size:12px;line-height:1.4;color:#777;margin:0 0 20px;"}
              == You created this reminder on #{@created_at}
              %br
              == It has been snoozed 
              %b #{@snoozed} times.
          = render 'header'

        %tr
          %td{:colspan => "2"}
            = render 'snooze_box'

        = render 'body', body: @body
        
        = render 'footer'