!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:20px 0 0;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        = render 'header'
        %tr
          %td
            %h1{:style => "margin:40px 0 0;"}= "Snoozed: #{@original_subject}"

            %p== This reminder was snoozed by #{@owner} until #{@send_at}

        = render 'body', body: @body
