= form_for reminder, remote: remote, method: :put do |f|

  %ul.errors

  %p.clear
    .half
      = f.label :time, 'Change the reminder time:'
      = f.text_field :time
      %span @hound.cc
    .half
      %label Sent to:
      %p.sent-to#preview_emails
        - recipient_addresses(@reminder)[0..2].each do |recipient|
          = recipient

        - if recipient_addresses(@reminder).size > 3
          = link_to "Show all #{recipient_addresses(@reminder).size} recipients",
            '#', id: "show_emails"
        - elsif recipient_addresses(@reminder).empty?
          No other recipients. This must be a personal reminder.

      %p.sent-to#all_emails{style: "display: none"}
        - recipient_addresses(@reminder).each do |recipient|
          = recipient

  %br
  %hr
  %p.left
    = submit_tag 'Submit', class:'js_submit button alt small inline', disable_with: 'Processing...', id: 'submit'
    = link_to 'cancel', root_path, id: 'js_cancel', class: 'cancel'

  %p.right= link_to 'Delete this reminder', reminder_path(@reminder), method: 'delete', confirm: 'Are you sure?', class: 'delete'
