= form_for @reminder, remote: true, method: :put do |f|

  %ul.errors

  %p.clear
    .half
      = f.fields_for :fetched_mail do |fm|
        = fm.label :subject, 'Subject:'
        = fm.text_field :subject
    .half
      = label_tag 'Scheduled for:'
      %span.send_at= "#{@reminder.send_at.strftime('%Y-%m-%d %R')} (#{Time.zone.name})"

  %p.clear
    .half
      = f.label :other_recipients, 'Cc:'
      = f.text_field :other_recipients, value: @reminder.other_recipients.join(',')
    .half
      = f.label :time, 'Reminder time:'
      = f.text_field :time
      %span @hound.cc

  %br
  %hr
  %p.left
    = submit_tag 'Submit', class:'js_submit button alt medium inline', disable_with: 'Processing...', id: 'submit'
    = link_to 'cancel', root_path, id: 'js_cancel', class: 'cancel'

  %p.right= link_to 'Delete this reminder', reminder_path(@reminder), method: 'delete', confirm: 'Are you sure?', class: 'delete'
