= form_for @reminder, remote: true do |f|
  .errors
  = f.label 'Subject:'
  = f.text_field :subject
  %p
  = f.label 'Cc:'
  = f.text_field :cc, value: @reminder.cc.join(',')
  %p
  = f.label 'Reminder Date:'
  = text_field_tag 'formatted_date', @reminder.reminder_time.strftime('%Y-%m-%d'), id:'reminder_formatted_date'
  %p
  = f.label 'Reminder Time:'
  = text_field_tag 'formatted_time', @reminder.reminder_time.strftime('%R'), id: 'reminder_formatted_time'
  = f.label Time.zone
  %p
    = f.text_area :body
  %br
  = f.submit :submit, class:'js_submit', disable_with: 'Processing...'
  = link_to 'cancel', root_path, id: 'js_cancel'

%p= link_to 'Delete this reminder', reminder_path(@reminder), method: 'delete', confirm: 'Are you sure?'
