%h2
  = @reminder.subject

.sidebar_left
  %ul
    %li
      %b Upcoming
    %li  Sent / Completed
    %li  Due Today
    %li  Not Delivered

.content_right
  = form_for @reminder do |f|
    = f.text_field :subject
    = f.text_area :body
    = f.datetime_select :reminder_time
    = f.submit :submit
