- groups = group_reminders(@reminders)

%h2
  Your Reminders

.sidebar_left
  %ul
    %li
      %b Upcoming
    %li  Sent / Completed
    %li  Due Today
    %li  Not Delivered

.content_right
  %table{class: 'modern'}
    %tr
      %th.large= "You have #{pluralize(@reminders.count, 'upcoming reminder')}"
      %th.large Reminder Date
      %th.small Mark as complete?

  - RemindersHelper::LAYERS.keys.each do |layer|
    - if groups[layer].count > 0
      = layer.to_s.titleize

      %table{class: 'modern'}
        %tr
        - groups[layer].each do |r|
          %tr
            = form_for r, url: reminder_url(r), remote: true do |f|
              %td.large= link_to r.subject, edit_reminders_path(r)
              %td.large= r.formatted_reminder_time
              %td.small= f.check_box :delivered?, class: 'mark_as_complete'

  .status
