%h2
  Your Reminders

=render 'sidebar'

.content_right
  .reminder_container
    .inline_reminder
  .reminder_list
    %table{class: 'modern'}
      %tr
        %th.large= "You have #{pluralize(@presenter.reminders.count, "#{@presenter.filter} reminder")}"
        %th.large Reminder Date
        %th.small Mark as complete?

    - unless @presenter.filter == 'completed'
      = render 'grouped_reminders'
    - else
      = render 'ungrouped_reminders'
  .status
