%h2 Your Reminders

=render 'sidebar'

.content_right
  .reminder_container
    .inline_reminder
  .reminder_list
    %table{class: 'modern'}
      %tr
        %th.large= "You have #{pluralize(@reminder_filter.filtered_reminders.count, "#{@reminder_filter.filter} reminder")}"
        %th.large Reminder Date
        %th.small Mark as complete?

    - if @reminder_filter.filter == 'completed'
      = render 'reminders', :reminders => @reminder_filter.reminders
    - else
      = render 'upcoming_reminders'
  .status
