- groups = group_reminders(@reminders)

%h2
  Your Reminders

.sidebar_left
  %ul
    %li
      %b Upcoming
    %li  Sent / Completed
    %li  Due Today
    %li  Not Delivered

.content_right
  %b= "You have #{pluralize(@reminders.count, 'upcoming reminder')}"
  %br
  %br
  - RemindersHelper::LAYERS.keys.each do |layer|
    - if groups[layer].count > 0
      = layer.to_s.titleize

      %table{class: 'modern'}
        - groups[layer].each do |r|
          %tr
            %td= r.subject
            %td= r.formatted_reminder_time
            %td= r.delivered?
