%section.app
  .wrapper

    %h2 Your Reminders

    =render 'sidenav'

    .content.right
      .reminder_container
        .inline_reminder
      .reminder_list
        .table-wrap.heading
          %table.modern
            %tr
              %th.large
                = image_tag"reminders.png"
                = "You have #{pluralize(@reminder_filter.filtered_reminders.count, "#{@reminder_filter.filter} reminder")}"
              %th.large Reminder Date

        - if @reminder_filter.filter == 'completed'
          = render 'reminders', :reminders => @reminder_filter.filtered_reminders
        - else
          = render 'upcoming_reminders'
      .status
