- groups = group_reminders(@reminders)

%h2
  Your Reminders

=render 'sidebar'

.content_right
  %table{class: 'modern'}
    %tr
      =render 'title'
      %th.large Reminder Date
      %th.small Mark as complete?

  - groups.each_pair do |key, values|
    - if values.count > 0
      = key.to_s.titleize

      %table{class: 'modern'}
        %tr
        - values.each do |r|
          %tr
            = form_for r, url: reminder_url(r), remote: true do |f|
              %td.large= link_to r.subject, edit_reminder_path(r)
              %td.large= r.formatted_reminder_time
              %td.small= f.check_box :delivered?, class: 'mark_as_complete'
  .status
