#devise.wide
  %h2.readable We have snoozed '#{ @reminder.subject }'
  %p.snoozed
    New reminder is set for
    %b #{ @reminder.formatted_send_at}.
    %br
    = "That's #{distance_of_time_in_words_to_now(@reminder.send_at, true)} from now."
  -if @reminder.other_recipients.count > 0
    %br
    %hr
    %p.small Would you like to notify the other recipients (#{@reminder.other_recipients.join(', ')}) that you've snoozed the reminder?
    %br
    %p= link_to 'Yes', snooze_url(@reminder), class: 'button medium alt inline'
    %br
