%h1 We have snoozed '#{ @reminder.subject }'
%h3 The new reminder time is #{ @reminder.send_at }
%h3= "That's #{distance_of_time_in_words_to_now(@reminder.send_at, true)} from now"
-if @reminder.other_recipients.count > 0
  %p Would you like to notify the other recipients that you've snoozed the reminder?
  %p= link_to 'Yes', snooze_url(@reminder)
