%h4 From Now

%ul
  %li= mail_to '2minutes@hound.cc', '2minutes@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to '3hours@hound.cc', '3hours@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to '1day@hound.cc', '1day@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to '2weeks@hound.cc', '2weeks@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to '3months@hound.cc', '3months@hound.cc', :style => "color: #{@link_color}"

%h4 Composite
%ul
  %li
    = mail_to '1day2hours@hound.cc', '1day2hours@hound.cc', :style => "color: #{@link_color}"

%h4 Weekdays
%ul
  %li= mail_to 'friday@hound.cc', 'friday@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to 'monday9am@hound.cc', 'monday9am@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to 'nexttuesday@hound.cc', 'nexttuesday@hound.cc', :style => "color: #{@link_color}"
  %li= mail_to 'nextweek@hound.cc', 'nextweek@hound.cc', :style => "color: #{@link_color}"

%h4 Handy
%ul
  %li
    = mail_to 'tomorrow@hound.cc', 'tomorrow@hound.cc', :style => "color: #{@link_color}"
    (8am tomorrow)
  %li
    = mail_to 'tomorrow1030am@hound.cc', 'tomorrow1030am@hound.cc', :style => "color: #{@link_color}"
    (10:30am tomorrow)
  %li
    = mail_to 'endofday@hound.cc', 'endofday@hound.cc', :style => "color: #{@link_color}"
    (5pm today)

%h4 Actual Date
%ul
  %li
    = mail_to '04july@hound.cc', '04july@hound.cc', :style => "color: #{@link_color}"
    (4th July)
  %li
    = mail_to 'aug-10@hound.cc', 'aug-10@hound.cc', :style => "color: #{@link_color}"
    (August 10)
  %li
    = mail_to '16sept1030am@hound.cc', '16sept1030am@hound.cc', :style => "color: #{@link_color}"
    (16th September at 10:30am)

%h4 Actual Time
%ul
  %li
    = mail_to '1030@hound.cc', '1030@hound.cc', :style => "color: #{@link_color}"
    (10:30am)
  %li
    = mail_to '22@hound.cc', '22@hound.cc', :style => "color: #{@link_color}"
    (22:00pm)
  %li
    = mail_to '1030am@hound.cc', '1030am@hound.cc', :style => "color: #{@link_color}"
    (10:30am)

%h4 Abbreviations
%ul
  %li
    = mail_to '2m@hound.cc', '2m@hound.cc', :style => "color: #{@link_color}"
    (2 minutes)
  %li
    = mail_to '5d@hound.cc', '5d@hound.cc', :style => "color: #{@link_color}"
    (5 days)
  %li
    = mail_to '1mo@hound.cc', '1mo@hound.cc', :style => "color: #{@link_color}"
    (1 month)
