%div
  = f.label :current_password, "Old Password"
  = f.password_field :current_password

%div
  = f.label :password, 'New password'
  = f.password_field :password

%div
  = f.submit "Change my password", :class => "button medium alt"

