#devise
  %h2 Almost done! Just a few details...
  = form_for resource, :as => resource_name, :url => activate_url, :html => { :method => :put } do |f|
    = f.hidden_field :invitation_token

    %div
      = f.label :password
      = f.password_field :password

    %div
      = f.label :timezone
      = f.time_zone_select :timezone, nil, :default => "Pacific Time (US & Canada)"

    = f.submit "Start using Hound →", :class => "button medium alt"

%br
