%h1 Almost done! Just a few details...

= form_for resource, :as => resource_name, :url => activate_url, :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token

  %p Enter a password for your new account
  = f.label :password
  = f.password_field :password

  %p Double-check your timezone
  = f.label :timezone
  = f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)"

  = f.submit "Start using Hound →"


