- render "user_mailer/variables"

!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body{:style => "background:url(http://hound.cc/assets/bg.png) #fef4e0;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:0;padding:15px 0 0;line-height:1.4;border-top:4px dashed #f1decb;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        %tr
          %td{ :width => "70%"}
            %h1{:style => "color:#582a00;margin:40px 0 10px;font-size:24px;"} Hello #{@resource.email}!
            %p{:style => "font-size:12px;line-height:1.4;color:#444;margin:0 0 15px;"}
              Someone has requested a link to change your password,
              %br
              and you can do this through the link below.
            %p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :style => "color: #E88300"
          = render 'user_mailer/header'
        = render 'user_mailer/hr'
        %tr
          %td{:colspan => "2"}
            %p{:style => "line-height:1.4;font-size:11px;margin:10px 0 0;color:#999;"}
              If you didn't request this, please ignore this email.
              %br
              Your password won't change until you access the link above and create a new one.
        = render 'user_mailer/footer'
